In [2]:
print('hello world')

hello world

In [6]:
a  = ' hello word'
b= 'HELLO WORLD'
print(a.upper())
print(b.lower())

 HELLO WORD
hello world

In [9]:
x = '  hello, wolrd '
print(x)
print(x.strip())

  hello, wolrd
hello, wolrd

In [12]:
print(x.replace('h', 'j'))

  jello, wolrd

In [14]:
print(x.split(','))

['  hello', ' wolrd ']

# list topic start from here
1. list can be update/modify
2. list can contain duplicate values
3. list can store unorder integer
4. list can contain diffrent data type values

In [16]:
newList = ['apple', 'banana', 'mango']
print(newList)

['apple', 'banana', 'mango']

In [19]:
#list can be update/modify
# list can contain duplicate values
# list can store unorder integer
# list can contain diffrent data type values

intList = [1,3,2,4,3,5,6,4]
print(intList)
len(intList)

[1, 3, 2, 4, 3, 5, 6, 4]

8

# tupples 
1. tupples can not be update/modify
2. tupple can allow duplicate values
3. tupples can allow unorder integer list
4. tupple can store multiple data type value

In [22]:
newtupple = (1,2,4,3,4,5,6,7,8,9, 'apple')
print(newtupple)

(1, 2, 4, 3, 4, 5, 6, 7, 8, 9, 'apple')

# Sets
1. sets can not be update/modify
2. sets can't allow unorder list
3. set are order 
4. Sets don't allow duplicate values
5. sets don't have index no.
6. sets can store multiple data types values

In [27]:
newSets = {1,2,4,3,5,4,'apple'}
print(newSets)

{1, 2, 3, 4, 5, 'apple'}

# Dictionary 
1. Dictionary can be update/modify
2. Dictonary have key and value
3. dictionary start with {}

In [32]:
stdDic = {
    'name': 'John',
    'age': 20,
    'gender': 'male'
}

print(stdDic['name'])

John

# Conditions and Operator (Arthematic and relational)

In [1]:
a = 5
b = 10
if a > b:
    print('a is greater than b')
else:
    print('a is less than b')

a is less than b

In [7]:
a = 10
b = 5
c = 19

if a > b and a > c:
    print('a is greater than b and c')
elif b > a and b > c:
    print('b is greater than a and c')
else:
    print('c is greater than a and b')

c is greater than a and b

# Loops Start from here 
1. for loop
2. While Loop

In [12]:
for i in range(10):
    print("Hello world", i)
    print('Hello Pakistan')

Hello world 0
Hello Pakistan
Hello world 1
Hello Pakistan
Hello world 2
Hello Pakistan
Hello world 3
Hello Pakistan
Hello world 4
Hello Pakistan
Hello world 5
Hello Pakistan
Hello world 6
Hello Pakistan
Hello world 7
Hello Pakistan
Hello world 8
Hello Pakistan
Hello world 9
Hello Pakistan

In [15]:
# when we take one item from any collection is called itrate/iteration
fruits = ['apple', 'banana','cherry']
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [19]:
numList = [10,50,40,60,55,15,100,90]
for number in numList:
    print(number)
    if number > 50:
        print(number)

10
50
40
60
60
55
55
15
100
100
90
90

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
# custome range
for i in range(3,9):
    print(i)

3
4
5
6
7
8

In [25]:
myList = [10,20,30,40,50,60,80]
for i in range(len(myList)):
    print(i, myList[i])

0 10
1 20
2 30
3 40
4 50
5 60
6 80

In [28]:
# length of any list
len(myList)

7

In [33]:
my_dict = {
    'brand': 'Ford',
    'model' :   'Mustang',
    'year' : 1964,
    'year' : 2020
}

for key in my_dict:
    # print(key, my_dict[key])
    print(key)

for value in my_dict.values():
    print(value)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (421526380.py, line 4)